@{
    Layout = null;
    ViewBag.Title = "Avances de efectivo";
}

<!-- START panel-->
<div class="col-lg-12 no-padder" ng-controller="CashAdvanceController" ng-init="app.title = '@(ViewBag.Title)'">
    <div class="col-lg-12 no-padder">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-12 m-b-xs no-padder">
                    <div class="col-lg-6 text-left m-b-xs no-padder">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Cliente: <span class="color-red">*</span></label>
                                <div class="col-lg-12">
                                    <select ng-required="true" class="form-control dropdown-select2" ng-model="creditNote.ClientId">
                                        <option selected="selected" disabled="disabled" value="0">Seleccione un cliente</option>
                                        <option ng-repeat="client in clients" ng-selected="defaultValue == client.Id" value="{{client.Id}}">{{client.Id}} - {{client.Name}}</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-6 text-left m-b-xs no-padder">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Sorteo: <span class="color-red">*</span></label>
                                <div class="col-lg-12">
                                    <select ng-required="true" class="form-control dropdown-select2" ng-model="creditNote.RaffleId">
                                        <option selected="selected" disabled="disabled" value="0">Seleccione un cliente</option>
                                        <option ng-repeat="raffle in raffles" ng-selected="defaultValue == raffle.Id" value="{{raffle.Id}}">{{raffle.Id}} - {{raffle.Name}}</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-12 no-padder">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Monto a Pagar:  <span class="color-red">*</span></label>
                                <div class="col-lg-12">
                                    <input type="number"
                                           ng-model="creditNote.TotalCash"
                                           class="form-control input-sm"
                                           ng-max="totalRestant"
                                           ng-required="true"
                                           value="{{totalRestant}}"
                                           ng-min="1" />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-12 no-padder" ng-if="creditNote.Id > 0">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Monto a Restante:  <span class="color-red">*</span></label>
                                <div class="col-lg-12">
                                    <input type="number"
                                           ng-model="creditNote.TotalRest"
                                           class="form-control input-sm"
                                           ng-max="creditNote.TotalCash"
                                           value="{{creditNote.TotalRest}}"
                                           ng-min="1" />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-12 no-padder">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Concepto:</label>
                                <div class="col-lg-12">
                                    <textarea class="form-control input-sm" ng-model="creditNote.Concepts" style="max-height: 109px; height: 97px;"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 no-padder text-left m-b-lg">
        <a ng-click="goBack()" class="mr btn btn-square btn-warning"><i class="fa fa-times"></i> Salir</a>
        <a ng-click="saveForm()" class="mr btn btn-square btn-primary {{moduleCanAdd}}"><i class="fa fa-floppy-o"></i> Guardar</a>
    </div>
</div>
