@{
    Layout = null;
    ViewBag.Title = "Reportes de billetes pagables";
}

<div class="col-lg-12 no-padder" ng-controller="RafflePrintController" ng-init="app.title = '@(ViewBag.Title)'">
    <div class="col-lg-12 no-padder">
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- START panel-->
                <div class="row-border hover ">
                    <table class="table dataTableGrid">
                        <thead>
                            <tr>
                                <th>Sorteo</th>
                                <th class="text-center">Billetes pagables</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="raffle in raffles">
                                <td>{{raffle.id}} - {{raffle.name}}</td>
                                <td class="text-center">
                                    <a href="/Integration/PayableAwardsToExcel?raffleId={{raffle.id}}" target="_blank" title="Imprimir billetes pagables"><i class="fa fa-file-excel-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 no-padder text-left m-b-lg">
    <a ui-sref="app.dashboard" class="mr btn btn-square btn-default"><i class="fa fa-arrow-left "></i> Salir</a>
</div>
