@{
    Layout = null;
    ViewBag.Title = "Reportes de billetes del sorteo";
}

<div class="col-lg-12 no-padder" ng-controller="RafflePrintController" ng-init="app.title = '@(ViewBag.Title)'">
    <div class="col-lg-12 no-padder">
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- START panel-->
                <div class="row-border hover ">
                    <table class="table dataTableGrid">
                        <thead>
                            <tr>
                                <th>Sorteo</th>
                                <th class="text-center">Billetes facturados</th>
                                <th class="text-center">Billetes devueltos</th>
                                <th class="text-center">Billetes anulados</th>
                                <th class="text-center">Billetes en circulación</th>
                                <th class="text-center">Datos por cliente</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="raffle in raffles">
                                <td>{{raffle.id}} - {{raffle.name}}</td>
                                <td class="text-center">
                                    <a href="/Reports/BilletesVendidos?raffleId={{raffle.id}}" target="_blank" title="Imprimir Billetes vendidos"><i class="fa fa-print"></i></a>
                                </td>
                                <td class="text-center">
                                    <a href="/Reports/BilletesDevueltos?raffleId={{raffle.id}}" target="_blank" title="Imprimir Billetes devueltos"><i class="fa fa-print"></i></a>
                                </td>
                                <td class="text-center">
                                    <a href="/Reports/BilletesAnulados?raffleId={{raffle.id}}" target="_blank" title="Imprimir Billetes anulados"><i class="fa fa-print"></i></a>
                                </td>
                                <td class="text-center">
                                    <a href="/Reports/BilletesCirculacion?raffleId={{raffle.id}}" target="_blank" title="Numeros Billetes en circulación"><i class="fa fa-print"></i></a>
                                </td>
                                <td class="text-center">
                                    <a href="/Reports/DatosPorCliente?raffleId={{raffle.id}}" target="_blank" title="Datos por cliente"><i class="fa fa-print"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 no-padder text-left m-b-lg">
    <a ui-sref="app.dashboard" class="mr btn btn-square btn-default"><i class="fa fa-arrow-left "></i> Salir</a>
</div>
