
@{
    ViewBag.Title = "Configuración - Reporte de Rentabilidad de Sorteo ";
    Layout = null;
}


<div class="col-lg-12" ng-controller="RaffleProfitability" ng-init="app.title = '@(ViewBag.Title)'">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="container">
                <div class="col-sm-12 col-md-8 col-lg-8">
                    <p class="text">Seleccione el sorteo del cual visualizará el reporte</p>
                    <fieldset>
                        <select id="#raffleselector" class="form-control dropdown-select2 pull-right" ng-model="selectedRaffle">
                            <option ng-repeat="raffle in raffleList" value="{{raffle.id}}">{{raffle.text}}</option>
                        </select>
                    </fieldset>
                    
                    <br />
                    <div class="text-right">

                        <a href="" class="btn btn-success"  target="_blank" ng-click="GoTo()">Generar reporte</a>
                    </div>

                    <br />
                    @*@Html.ActionLink("sample", "ProfitabilityReport", "Reports")*@

                </div>
            </div>
        </div>
    </div>
</div>

