@{
    Layout = null;
    ViewBag.Title = "Ingresar Sorteo Tombolas";
}

<!-- START panel-->
<div class="col-lg-12 no-padder" ng-controller="RaffleController" ng-init="app.title = '@(ViewBag.Title)'">
    <div class="col-lg-12 no-padder">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-12 no-padder">
                    <input type="hidden" ng-model="raffleAward.Id" />
                    <input type="hidden" ng-model="raffleAward.RaffleId" />
                    <fieldset>
                        <div class="form-group">
                            <div class="col-lg-4">
                                <label class="col-lg-12 control-label-left no-padder">Premio:  <span class="color-red">*</span></label>
                                <div class="col-lg-12 no-padder">
                                    <select id="AwardId" ng-required="true" class="form-control input-sm dropdown-select2" ng-model="raffleAward.AwardId">
                                        <option selected="selected" disabled="disabled" value="0">Seleccione un premio</option>
                                        <option data-ng-repeat="award in awardList" value="{{award.Id}}">{{award.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label class="col-lg-12 control-label-left no-padder">Número Ganador:  <span class="color-red">*</span></label>
                                <div class="col-lg-12 no-padder">
                                    <input type="text" ng-model="raffleAward.ControlNumber" class="form-control input-sm" placeholder="Número ganador" ng-minlength="5" ng-pattern="/^\d{5}$/" ng-required="true" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label class="col-lg-12 control-label-left no-padder">Fracción: </label>
                                <div class="col-lg-12 no-padder">
                                    <input type="text" ng-model="raffleAward.Fraction" class="form-control input-sm" maxlength="2" placeholder="Fracción ganadora" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-lg-12 no-padder text-right m-b-lg">
                    <a ng-click="clearRaffleAward()" class="mr btn btn-sm btn-oval btn-warning"><i class="fa fa-eraser"></i> Limpiar</a>
                    <a ng-click="addRaffleAward()" class="mr btn btn-sm btn-oval btn-success"><i class="fa fa-plus"></i> Agregar</a>
                </div>
                <div class="col-lg-12 no-padder">
                    <table class="table dataTableGrid">
                        <thead>
                            <tr>
                                <th>Premio</th>
                                <th>Número de premio</th>
                                <th>Fracción</th>
                                <th class="editColumm"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="raffleAward in raffle.raffleAwards">
                                <td>{{raffleAward.AwardName}}</td>
                                <td>{{raffleAward.ControlNumber}}</td>
                                <td>{{raffleAward.Fraction}}</td>
                                <td>
                                    <a ng-click="editRaffleAward(raffleAward)" title="Moificar Premio"><i class="fa fa-pencil-square-o"></i></a>
                                    <a ng-click="deleteRaffleAward(raffleAward)" title="Borrar Premio" ng-show="raffleAward.Id === 0"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 no-padder text-left m-b-lg">
        <a ui-sref="app.dashboard" class="mr btn btn-square btn-warning"><i class="fa fa-times"></i> Salir</a>
        <a ng-click="saveRaffleAwardForm()" class="mr btn btn-square btn-primary {{moduleCanAdd}}"><i class="fa fa-floppy-o"></i> Guardar</a>
    </div>
</div>
