<doctype html>
    <html style="background: #ddd; ">
    <head>
        <title>Loteria nacional dominicana</title>
        <meta charset="utf-8" />
        <meta name="loteria" content="reporte de factura vencida" />
    </head>
    <body style="background:#fff; margin:0px; padding:0px; width:1024px; margin:auto; text-align: center;  font-family:arial, sans-serif; border:#eee;">
        <div class="container">
            <div class="logo" style="background-color: #49AE6E; margin: 0; padding: 10px; color: #fff;">
                <div >
                    <div style="background: url('http://52.89.64.182/images/logo.png') no-repeat; padding:30px;"></div>
                    <h2 id="notification-title"></h2>
                    <br />

                </div>
                <!--<img src="logo.png" style="float:left; " />-->

            </div>
            <div class="body">
                <div id="destinatarios" style="width:600px; margin: auto;">
                    <!--<p><strong>Para Sr(a):</strong> Juan Olivier Acosta Herrera - acosta.herrera.oliver@gmail.com</p>-->
                </div>
                <div id="message" class="mensaje addMargin">
                    <!--<p>
                        Este correo es una notificacion automatica para indicarle sobre las siguiente(s) facturas
                        se encuentran vencidas y el pago correspondiente a las mismas no se ha realizado.

                    </p>-->
                </div>
                <div style="margin:auto;">
                    <table id="details" style="width:100%;">
                 


                    </table>
                </div>
        </div>
            </div>
    </body>
</html>
