@{
    Layout = null;
    ViewBag.Title = "Acceso denegado";
}

<div class="container container-sm animated fadeInDown" ng-controller="SecurityController">
    <div class="center-block mt-xl">
        <!-- START panel-->
        <img src="~/Images/logo.png" width="190" style="width:250px; margin-bottom:50px;" alt="Image" class="center-block img-rounded" />
        <div class="panel">
            <div class="panel-body">
                <p class="pv text-bold text-20-pt">@ViewBag.Title</p>
                <div class="col-lg-12 no-padder">
                    Usted no tiene permiso para ver esta pagina.
                </div>
            </div>
        </div>
    </div>
</div>
