@{
    Layout = null;
    ViewBag.Title = "Cambiar Contraseña";
}
<!-- START panel-->
<div class="col-lg-12 no-padder" ng-controller="ChangePasswordController" ng-init="app.title = '@(ViewBag.Title)'">
    <div class="col-lg-12 no-padder">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-6 no-padder">
                    <div class="col-lg-12 no-padder">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Contraseña Actual:  <span class="color-red">*</span></label>
                                <div class="col-lg-12">
                                    <input type="password"
                                           ng-model="user.CurrentPassword"
                                           class="form-control"
                                           ng-required="true">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-6 no-padder">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Nueva Contraseña: <span class="color-red">*</span></label>
                                <div class="col-lg-12">
                                    <input type="password"
                                           class="form-control"
                                           ng-model="user.Password"
                                           ng-required="true"
                                           ng-minlength="7"
                                           ng-pattern="passwordRegex" />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-6 no-padder">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Repite la Nueva Contraseña:  <span class="color-red">*</span></label>
                                <div class="col-lg-12">
                                    <input type="password"
                                           ng-model="user.PasswordRepeat"
                                           class="form-control"
                                           data-password-verify="user.Password"
                                           ng-required="true"
                                           ng-pattern="passwordRegex"
                                           ng-minlength="7" />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 no-padder text-left m-b-lg">
        <a ui-sref="app.dashboard" class="mr btn btn-square btn-warning"><i class="fa fa-times"></i> Ir al Inicio</a>
        <a ng-click="chagePassword()" class="mr btn btn-square btn-primary"><i class="fa fa-floppy-o"></i> Guardar</a>
    </div>
</div>