@{
    Layout = null;
    ViewBag.Title = "Listado de Modulos";
}
<div class="col-lg-12 no-padder" ng-controller="SecurityController" ng-init="app.title = '@(ViewBag.Title)'">
    <div class="col-lg-12 no-padder">
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- START panel-->
                <div class="col-lg-12 text-right m-b-xs no-padder">
                    <a ng-click="editModule()" class="btn btn-square btn-success {{moduleCanEdit}}"><i class="fa fa-plus-square"></i>Agregar Modulo</a>
                </div>
                <div class="row-border hover ">
                    <table class="table dataTableGrid">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Visualizar</th>
                                <th>Agregar</th>
                                <th>Modificar</th>
                                <th>Buscar</th>
                                <th>Borrar</th>
                                <th class="editColumm"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="module in moduleList">
                                <td>{{module.Name}}</td>
                                <td>{{module.Description}}</td>
                                <td>
                                    <div class="checkbox c-checkbox needsclick">
                                        <label class="needsclick m-r-xs">
                                            <input disabled="disabled" type="checkbox" class="needsclick" ng-checked="module.CanView" />
                                            <span class="fa fa-check"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox c-checkbox needsclick">
                                        <label class="needsclick m-r-xs">
                                            <input disabled="disabled" type="checkbox" class="needsclick" ng-checked="module.CanAdd" />
                                            <span class="fa fa-check"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox c-checkbox needsclick">
                                        <label class="needsclick m-r-xs">
                                            <input disabled="disabled" type="checkbox" class="needsclick" ng-checked="module.CanEdit" />
                                            <span class="fa fa-check"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox c-checkbox needsclick">
                                        <label class="needsclick m-r-xs">
                                            <input disabled="disabled" type="checkbox" class="needsclick" ng-checked="module.CanSearch" />
                                            <span class="fa fa-check"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox c-checkbox needsclick">
                                        <label class="needsclick m-r-xs">
                                            <input disabled="disabled" type="checkbox" class="needsclick" ng-checked="module.CanDelete" />
                                            <span class="fa fa-check"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <a ng-click="editModule(module)" title="Moificar" class="{{moduleCanEdit}}"><i class="fa fa-pencil-square-o"></i></a>
                                    <a ng-click="deleteModule(module)" title="Borrar Modulo"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 no-padder text-left m-b-lg">
    <a ui-sref="app.dashboard" class="mr btn btn-square btn-default"><i class="fa fa-arrow-left "></i>Salir</a>
</div>
