@{
    Layout = null;
    ViewBag.Title = "Listado de asignación para revisión";
}

<div class="col-lg-12 no-padder" ng-controller="AllocationReviewController" ng-init="app.title = '@(ViewBag.Title)'">
    <div class="col-lg-12 no-padder">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-4 text-left m-b-xs no-padder">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Sorteo: </label>
                            <div class="col-lg-12">
                                <select class="form-control dropdown-select2" ng-model="RaffleId" ng-change="updateAllocation()">
                                    <option selected="selected" value="0">Todos los sorteo</option>
                                    <option ng-repeat="raffle in raffles" value="{{raffle.value}}">{{raffle.text}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-lg-4 text-left m-b-xs no-padder">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Cliente: </label>
                            <div class="col-lg-12">
                                <select class="form-control dropdown-select2" ng-model="ClientId" ng-change="updateAllocation()">
                                    <option selected="selected" value="0">Todos los cliente</option>
                                    <option ng-repeat="client in clients" value="{{client.value}}">{{client.value}} - {{client.text}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="row-border hover ">
                    <table class="table dataTableGrid">
                        <thead>
                            <tr>
                                <th>Asignación</th>
                                <th>Cliente</th>
                                <th>Fecha</th>
                                <th class="text-center">Marcar como revisado</th>
                                @*<th class="text-center">Reimpresión</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="allocation in allocations">
                                <td>{{allocation.id}}</td>
                                <td>{{allocation.clientId}} - {{allocation.clientDesc}}</td>
                                <td>{{(allocation.createDate | date:"dd/MM/yyyy")}}</td>
                                <td class="text-center">
                                    <span ng-if="allocation.statuId != @((int)Tickets.Models.Enums.AllocationStatuEnum.Printed)">{{allocation.statuDesc}}</span>
                                    <a ng-if="allocation.statuId == @((int)Tickets.Models.Enums.AllocationStatuEnum.Printed)" ng-click="markAsReview(allocation)" title="revision de asignación de billetes"><i class="fa fa-external-link-square"></i></a>
                                </td>
                                @*<td class="text-center">
                                    <a ng-if="allocation.statuId == @((int)Tickets.Models.Enums.AllocationStatuEnum.Printed)" href="/#/ticket/reprintCreate/0/{{allocation.id}}" title="Reimprimir asignación de billetes"><i class="fa fa-file-powerpoint-o "></i></a>
                                </td>*@
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 no-padder text-left m-b-lg"> 
    <a ui-sref="app.dashboard" class="mr btn btn-square btn-default"><i class="fa fa-arrow-left "></i> Salir</a>
</div>
