@{
    Layout = null;
    ViewBag.Title = "Listado de reimpresión de billetes";
}

<div class="col-lg-12 no-padder" ng-controller="ReprintListController" ng-init="app.title = '@(ViewBag.Title)'">
    <div class="col-lg-12 no-padder">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-6 text-left m-b-xs no-padder">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Sorteo: </label>
                            <div class="col-lg-12">
                                <select class="form-control dropdown-select2" ng-model="RaffleId" ng-change="updateReprint()">
                                    <option selected="selected" disabled="disabled" value="0">Seleccione un sorteo</option>
                                    <option ng-repeat="raffle in raffles" value="{{raffle.value}}">{{raffle.value}} - {{raffle.text}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="col-lg-6 text-right m-b-xs no-padder">
                    <a href="/#/ticket/reprintCreate/0/0" class="btn btn-square btn-success {{moduleCanAdd}}"><i class="fa fa-plus-square"></i> Crear reimpresión</a>
                </div>
                <div class="col-lg-12 text-center" ng-if="RaffleId == 0">
                    <div class="alert alert-warning">
                        Seleccione un sorteo.
                    </div>
                </div>
                <div class="row-border hover" ng-if="RaffleId > 0">
                    <table class="table dataTableGrid">
                        <thead>
                            <tr>
                                <th style="width:50px;">Lote</th>
                                <th>Sorteo</th>
                                <th style="width:80px;" class="text-center">Cantidad <br /> de numeros</th>
                                <th style="width:160px;" class="text-center">Fecha</th>
                                <th style="width:90px;" class="text-center">Estado</th>
                                <th style="width:70px;" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="ticket in ticketReprints">
                                <td>{{ticket.id}}</td>
                                <td>{{ticket.raffleDesc}}</td>
                                <td class="text-center">{{ticket.numberCount}}</td>
                                <td class="text-center">{{(ticket.createDate | date:"dd/MM/yyyy h:mm:ss a")}}</td>
                                <td class="text-center">{{ticket.statuDesc}}</td>
                                <td>
                                    <a target="_blank" href="/Reports/ReprintTickets?reprintId={{ticket.id}}" title="Imprimir lista de billetes del lote" class="{{moduleCanAdd}}"><i class="fa fa-print"></i></a>
                                    <a ng-click="startWorkflowProspect(ticket)" ng-show="verifyCanView('app.approvedRePrint')" ng-if="ticket.statu == @((int)Tickets.Models.Enums.TicketReprintStatuEnum.Created)" title="Aprobar reimpresión" class="{{moduleCanAdd}}"><i class="fa fa-external-link"></i></a>
                                    <a ng-click="deleteTicket(ticket)" ng-show="verifyCanView('app.approvedRePrintList')" ng-if="ticket.statu == @((int)Tickets.Models.Enums.TicketReprintStatuEnum.Created)" title="Cancelar" class="{{moduleCanDelete}}"><i class="fa fa-times"></i></a>
                                    <a ng-click="deleteTicket(ticket)" ng-if="ticket.statu == @((int)Tickets.Models.Enums.TicketReprintStatuEnum.Created)" title="Cancelar" class="{{moduleCanDelete}}"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 no-padder text-left m-b-lg">
    <a ui-sref="app.dashboard" class="mr btn btn-square btn-default"><i class="fa fa-arrow-left "></i> Salir</a>
</div>
