@{
    Layout = null;
    ViewBag.Title = "Aprobación de flujo de cliente";
    var context = new Tickets.Models.TicketsEntities();
}

<!-- START panel-->
<div class="col-lg-12 no-padder" ng-controller="ClientController" ng-init="app.title = '@(ViewBag.Title)'">
    <div class="col-lg-12 no-padder">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-8 m-b-xs no-padder">
                    <div class="col-lg-4 no-padder">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Nombre: </label>
                                <div class="col-lg-12">
                                    {{workflow.Client.Name}}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Nombre comercial: </label>
                                <div class="col-lg-12">
                                    {{workflow.Client.Tradename}}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">RNC:</label>
                                <div class="col-lg-12">
                                    {{workflow.Client.RNC}}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Fecha de nacimiento:</label>
                                <div class="col-lg-12">
                                    {{workflow.Client.Birthday}}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Cédula:</label>
                                <div class="col-lg-12">
                                    {{workflow.Client.DocumentNumber}}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Estado civil:</label>
                                <div class="col-lg-12">
                                    {{workflow.Client.MaritalStatusDesc}}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Precio para los Billetes:</label>
                                <div class="col-lg-12">
                                    {{parseMoney(workflow.Client.PriceId)}}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Documento de la Fianza</label>
                                <div class="col-lg-12" ng-if="workflow.Client.DepositDocument != null">
                                    <a href="/Reports/ShowDocument?clientId={{workflow.Client.Id}}&type=fianza" title="Ver Documento de Fianza"><i class="fa fa-file-o"></i> Descargar Doumento</a>
                                </div>
                                <div class="col-lg-12" ng-if="workflow.Client.DepositDocument == null">
                                    No hay documento
                                </div>
                            </div>
                        </fieldset>

                    </div>
                    <div class="col-lg-4 no-padder">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Sexo: </label>
                                <div class="col-lg-12">
                                    {{workflow.Client.GenderDesc}}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Provincia:</label>
                                <div class="col-lg-12">
                                    {{workflow.Client.ProvinceDesc}}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Municipio:</label>
                                <div class="col-lg-12">
                                    {{workflow.Client.TownDesc}}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Sección: </label>
                                <div class="col-lg-12">
                                    {{workflow.Client.SectionDesc}}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Dirección:</label>
                                <div class="col-lg-12">
                                    {{workflow.Client.Addres}}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Teléfono: </label>
                                <div class="col-lg-12">
                                    {{workflow.Client.Phone}}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Fax:</label>
                                <div class="col-lg-12">
                                    {{workflow.Client.Fax}}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Documento de Administración</label>
                                <div class="col-lg-12" ng-if="workflow.Client.AdminDocument != null">
                                    <a href="/Reports/ShowDocument?clientId={{workflow.Client.Id}}&type=admin" title="Ver Documento Administrativo"><i class="fa fa-file-o"></i> Descargar Doumento</a>
                                </div>
                                <div class="col-lg-12" ng-if="workflow.Client.AdminDocument == null">
                                    No hay documento
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-4 no-padder">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">E-Mail: </label>
                                <div class="col-lg-12">
                                    {{workflow.Client.Email}}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Deuda Anterior</label>
                                <div class="col-lg-12">
                                    {{parseMoney(workflow.Client.PreviousDebt)}}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Limite de Crédito: </label>
                                <div class="col-lg-12">
                                    {{parseMoney(workflow.Client.CreditLimit)}}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Tipo de Cliente: </label>
                                <div class="col-lg-12">
                                    {{workflow.Client.ClientTypeDesc}}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Monto de Fianza: </label>
                                <div class="col-lg-12">
                                    {{parseMoney(workflow.Client.AmountDeposit)}}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Grupo: </label>
                                <div class="col-lg-12">
                                    {{workflow.Client.GroupDesc}}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Observación:</label>
                                <div class="col-lg-12">
                                    {{workflow.Client.Comment}}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Estatus: </label>
                                <div class="col-lg-12">
                                    {{workflow.Client.StatuDesc}}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group m-b-xs">
                        <label class="col-lg-12 control-label-left">Nota: </label>
                        <div class="col-lg-12">
                            <textarea class="form-control"
                                      ng-model="proccess.Comment"
                                      style="max-height: 140px; height: 140px;"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 text-left m-b-lg mt">
                        <a ng-click="rejectClientProcess()" class="mr btn btn-pill-left btn-warning"><i class="fa fa-ban"></i> Rechazar</a>
                        <a ng-click="approvedClientProcess()" class=" pull-right btn btn-pill-right btn-primary">Aprobar <i class="fa fa-check"></i></a>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div ng-class="'panel-' + app.theme.name" class="panel panel-info">
                        <div class="panel-heading">
                            <div style="padding-top: 0px;" ng-class="'bg-' + app.theme.name" class="panel-title bg-info">
                                <i class="fa fa-sitemap fa-lg pull-right text-muted"></i>Flujo de Trabajo
                            </div>
                        </div>
                        <div class="panel-body pt0" style="padding-right: 0;">
                            <div class="smoothy">
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 285px;">
                                    <scrollable class="pt" style="overflow: hidden; width: auto;">
                                        <ul class="chat">
                                            <li class="left clearfix" data-ng-repeat="proccess in workflow.proccess">
                                                <span class="chat-img pull-left">
                                                    <img src="/Images/user/01.jpg" alt="Image" class="img-circle thumb48">
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="chat-header">
                                                        <a href="" class="text-inverse">
                                                            <strong>{{proccess.UserName}}</strong>
                                                        </a>
                                                        <small class="pull-right text-muted">
                                                            <span class="fa fa-time"></span>{{(proccess.CreateDate | date:"dd/MM/yyyy h:mm:ss a")}}
                                                        </small>
                                                    </div>
                                                    <div class="chat-msg">
                                                        {{proccess.Comment}}<br />
                                                        <div class="label label-{{proccess.Statu == @((int)Tickets.Models.Enums.WorkflowProccessStatuEnum.Approved)? 'primary':'warning'}} text-bold">
                                                            <i class="fa fa-{{proccess.Statu == @((int)Tickets.Models.Enums.WorkflowProccessStatuEnum.Approved)? 'check':'ban'}}"></i> {{proccess.Statu == @((int)Tickets.Models.Enums.WorkflowProccessStatuEnum.Approved)? 'Aprobado':'Rechazado'}}
                                                        </div>
                                                    </div>

                                                </div>
                                            </li>
                                        </ul>
                                    </scrollable>
                                    <div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 131.432038834951px; background: rgb(0, 0, 0);"></div>
                                    <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 no-padder text-left m-b-lg">
        <a ui-sref="app.clientWorkflowList" class="mr btn btn-square btn-default"><i class="fa fa-arrow-left "></i>Regresar</a>
    </div>
</div>
