@{
    Layout = null;
    ViewBag.Title = "Creación de cliente";
}

<!-- START panel-->
<div class="col-lg-12 no-padder" ng-controller="ClientCreateController" ng-init="app.title = '@(ViewBag.Title)'">
    <div class="col-lg-12 no-padder">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-4 no-padder">
                    <input type="hidden"
                           ng-model="client.Id" />
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Nombre:  <span class="color-red">*</span></label>
                            <div class="col-lg-12">
                                <input type="text" ng-model="client.Name" class="form-control input-sm" ng-required="true" maxlength="100" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Nombre comercial: </label>
                            <div class="col-lg-12">
                                <input type="text" ng-model="client.Tradename" class="form-control input-sm" maxlength="150" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">RNC:</label>
                            <div class="col-lg-12">
                                <input type="text" ng-model="client.RNC" class="form-control input-sm" maxlength="50" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Fecha de nacimiento: <span class="color-red">*</span></label>
                            <div class="col-lg-12">
                                <input type="date" ng-model="client.Birthday" class="form-control input-sm" ng-required="true" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Cédula: <span class="color-red">*</span></label>
                            <div class="col-lg-12">
                                <input type="text" ng-model="client.DocumentNumber" class="form-control input-sm" ng-required="true" maxlength="20" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Estado civil: <span class="color-red">*</span></label>
                            <div class="col-lg-12">
                                <select ng-required="true" class="form-control input-sm dropdown-select2" ng-model="client.MaritalStatus">
                                    <option selected="selected" disabled="disabled" value="0">Seleccione un estado civil</option>
                                    <option ng-repeat="matritalState in matritalStates" value="{{matritalState.Id}}">{{matritalState.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Precio para los billetes: <span class="color-red">*</span></label>
                            <div class="col-lg-12">
                                <select ng-required="true" class="form-control input-sm dropdown-select2" ng-model="client.PriceId">
                                    <option selected="selected" disabled="disabled" value="0">Seleccione un precio</option>
                                    <option ng-repeat="price in prices" value="{{price.Id}}">{{price.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Documento de la Fianza </label>
                            <div class="col-lg-12">
                                <a ng-click="uploadDocument('financy')" class="btn btn-sm btn-default"><i class="fa fa-cloud-upload"></i> Seleccione un Documento</a>
                                <label style="font-size:10pt;" class="label label-info">{{filancyDocumentLabel}}</label>
                                <a class="btn btn-danger btn-sm" ng-click="clearFinancyDocumentLabel()" ng-show="filancyDocumentLabel != ''"><i class="fa fa-times"></i></a>
                                <input type="file" accept="application/pdf" id="financyDocumentFile" class="form-control input-sm hide" />
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-lg-4 no-padder">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Sexo: <span class="color-red">*</span></label>
                            <div class="col-lg-12">
                                <select ng-required="false" class="form-control input-sm dropdown-select2" ng-model="client.Gender">
                                    <option selected="selected" disabled="disabled" value="0">Seleccione un sexo</option>
                                    <option ng-repeat="gender in genders" value="{{gender.Id}}">{{gender.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Provincia:  <span class="color-red">*</span></label>
                            <div class="col-lg-12" style="height: 31px;">
                                <select ng-required="true" class="form-control input-sm dropdown-select2" id="province-dropdown" ng-model="client.Province" ng-change="updateTown()">
                                    <option selected="selected" disabled="disabled" value="0">Seleccione una provincia</option>
                                    <option ng-repeat="province in provinces" value="{{province.Id}}">{{province.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Municipio:  <span class="color-red">*</span></label>
                            <div class="col-lg-12" style="height: 31px;">
                                <select ng-required="true" class="form-control input-sm dropdown-select2" id="town-dropdown" ng-model="client.Town" ng-change="updateDistritalTown()">
                                    <option selected="selected" disabled="disabled" value="0">Seleccione una municipio</option>
                                    <option ng-repeat="town in towns" value="{{town.Id}}">{{town.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Sección: </label>
                            <div class="col-lg-12" style="height: 31px;">
                                <select class="form-control input-sm dropdown-select2" id="section-dropdown" ng-model="client.Section">
                                    <option selected="selected" disabled="disabled" value="0">Seleccione una sección</option>
                                    <option ng-repeat="distTown in distTowns" value="{{distTown.Id}}">{{distTown.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Dirección:  <span class="color-red">*</span></label>
                            <div class="col-lg-12">
                                <input type="text" ng-model="client.Addres" class="form-control input-sm" ng-required="true" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Teléfono:  <span class="color-red">*</span></label>
                            <div class="col-lg-12">
                                <input type="text" ng-model="client.Phone" class="form-control input-sm" ng-required="true" maxlength="45" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Fax:</label>
                            <div class="col-lg-12">
                                <input type="text" ng-model="client.Fax" class="form-control input-sm" maxlength="45" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Documento de la Administración</label>
                            <div class="col-lg-12">
                                <a ng-click="uploadDocument('admin')" class="btn btn-sm btn-default"><i class="fa fa-cloud-upload"></i> Seleccione un Documento</a>
                                <label style="font-size:10pt;" class="label label-info">{{adminDocumentLabel}}</label>
                                <a class="btn btn-danger btn-sm" ng-click="clearAdminDocumentLabel()" ng-show="adminDocumentLabel != ''"><i class="fa fa-times"></i></a>
                                <input type="file" id="adminDocumentFile" accept="application/pdf" class="form-control input-sm hide" />
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-lg-4 no-padder">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">E-Mail:  <span class="color-red">*</span></label>
                            <div class="col-lg-12">
                                <input type="text" ng-model="client.Email" class="form-control input-sm" ng-required="true" maxlength="100" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Deuda Anterior:  <span class="color-red">*</span></label>
                            <div class="col-lg-12">
                                <input type="number" step="any" ng-model="client.PreviousDebt" class="form-control input-sm" ng-required="true" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Limite de Crédito:  <span class="color-red">*</span></label>
                            <div class="col-lg-12">
                                <input type="number" step="any" ng-model="client.CreditLimit" class="form-control input-sm" ng-required="true" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Monto de Fianza:  <span class="color-red">*</span></label>
                            <div class="col-lg-12">
                                <input type="number" step="any" ng-model="client.AmountDeposit" class="form-control input-sm" ng-required="true" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Descuento:  <span class="color-red">*</span></label>
                            <div class="col-lg-12">
                                <input type="number" step="any" ng-model="client.Discount" class="form-control input-sm" ng-required="true" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Tipo de Cliente:  <span class="color-red">*</span></label>
                            <div class="col-lg-12">
                                <select ng-required="true" class="form-control input-sm dropdown-select2" ng-model="client.ClientType">
                                    <option selected="selected" disabled="disabled" value="0">Seleccione un tipo de cliente</option>
                                    <option ng-repeat="clientType in clientTypes" value="{{clientType.Id}}">{{clientType.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Grupo:  <span class="color-red">*</span></label>
                            <div class="col-lg-12">
                                <select ng-required="true" class="form-control input-sm dropdown-select2" ng-model="client.GroupId">
                                    <option selected="selected" disabled="disabled" value="0">Seleccione un grupo</option>
                                    <option ng-repeat="clientGroup in clientGroups" value="{{clientGroup.Id}}">{{clientGroup.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Observación:</label>
                            <div class="col-lg-12">
                                <textarea class="form-control input-sm" ng-model="client.Comment" style="max-height: 155px; height: 155px;"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 no-padder text-left m-b-lg">
        <a ui-sref="app.clientList" class="mr btn btn-square btn-warning"><i class="fa fa-times"></i> Cancelar</a>
        <a ng-click="saveClientForm()" class="mr btn btn-square btn-primary {{client.Id > 0? moduleCanEdit: moduleCanAdd }}"><i class="fa fa-floppy-o"></i> Guardar</a>
    </div>
</div>
