@{
    Layout = null;
    ViewBag.Title = "REPORTE HISTÓRICO DE PAGO POR CLIENTE";
}
<div class="col-lg-12 no-padder" ng-controller="ClientPrintController" ng-init="app.title = '@(ViewBag.Title)'">
    <div class="col-lg-12 no-padder">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row-border hover ">
                    <table class="table dataTableGrid">
                        <thead>
                            <tr>
                                <th class="text-left">CLIENTE</th>
                                <th class="text-center">REPORTE HISTÓRICO DE PAGO POR CLIENTE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="client in clientList">
                                <td class="text-left">{{client.Id}} - {{client.Name}}</td>
                                <td class="text-center">
                                    <a href="/Reports/ReportPaymenHistory?clientId={{client.Id}}" target="_blank" title="Historial de Pago"><i class="fa fa-print"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 no-padder text-left m-b-lg"> 
    <a ui-sref="app.dashboard" class="mr btn btn-square btn-default"><i class="fa fa-arrow-left "></i> Salir</a>
</div>
