@{
    Layout = null;
}

<div class="col-lg-12 no-padder" ng-controller="ProspectVerifyController">
    <div class="col-lg-12 no-padder">
        <div class="{{viewMode == true? 'panel panel-default': '' }}">
            <div class="panel-body">
                <!-- START panel-->
                <div class="row-border hover ">
                    <h4>Verificación de prospecto</h4>
                    <hr />
                    <div class="col-lg-12 m-b-xs">
                        <div class="col-lg-6 no-padder">
                            <fieldset>
                                <div class="form-group m-t-xs">
                                    <span class="col-lg-3 control-label-left"><b>Nombre:</b></span><span class="col-lg-8">
                                        <a ng-if="viewMode == false" href="" editable-text="prospect.name">{{ prospect.name || &apos;No hay datos&apos; }}</a>
                                        <span ng-if="viewMode == true">{{prospect.name}}</span>
                                    </span>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group m-t-xs">
                                    <span class="col-lg-3 control-label-left"><b>Descripción:</b></span><span class="col-lg-8">
                                        <a ng-if="viewMode == false" href="" editable-textarea="prospect.description" e-rows="3" e-cols="30">{{ prospect.description || &apos;No hay datos&apos; }}</a>
                                        <span ng-if="viewMode == true">{{prospect.description}}</span>
                                    </span>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group m-t-xs">
                                    <span class="col-lg-3 control-label-left"><b>{{prospect.prospectType == @((int)Tickets.Models.Enums.ProspectTypeEnum.Tickets) ? 'Precio de venta por fracción':'Precio de venta por unidad'}}:</b></span><span class="col-lg-8">
                                        <a ng-if="viewMode == false" href="" editable-number="prospect.price" e-min="0">{{ parseMoney(prospect.price)  || &apos;No hay datos&apos; }}</a>
                                        <span ng-if="viewMode == true">{{parseMoney(prospect.price)}}</span>
                                    </span>
                                </div>
                            </fieldset>
                            <fieldset class="hide">
                                <div class="form-group m-t-xs">
                                    <span class="col-lg-3 control-label-left"><b>Grupo:</b></span><span class="col-lg-8">
                                        <a ng-if="viewMode == false" href="" editable-select="prospect.groupId" e-ng-options="s.id as s.nameDetail for s in groups">{{showGroupDescription()}}</a>
                                        <span ng-if="viewMode == true">{{showGroupDescription()}}</span>
                                    </span>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group m-t-xs">
                                    <span class="col-lg-4 control-label"><b>Porcentaje de devoluciones:</b></span><span class="col-lg-8">
                                        <a ng-if="viewMode == false" href="" editable-number="prospect.maxReturnTickets" e-min="0">{{ prospect.maxReturnTickets || &apos;No hay datos&apos;  }}</a>
                                        <span ng-if="viewMode == true">{{prospect.maxReturnTickets}}</span>
                                    </span>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group m-t-xs">
                                    <span class="col-lg-3 control-label-left"><b>Producción:</b></span><span class="col-lg-8">
                                        <a ng-if="viewMode == false" href="" editable-number="prospect.production" e-min="0">{{parseMoney(prospect.production).substring(3, parseMoney(prospect.production).length - 3) || &apos;No hay datos&apos; }}</a>
                                        <span ng-if="viewMode == true">{{parseMoney(prospect.production).substring(3, parseMoney(prospect.production).length - 3)}}</span>
                                    </span>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-6 no-padder">
                            <fieldset>
                                <div class="form-group m-t-xs">
                                    <span class="col-lg-4 control-label-left"><b>{{prospect.prospectType == @((int)Tickets.Models.Enums.ProspectTypeEnum.Tickets) ? 'Hojas por número':'Tiras'}}:</b></span><span class="col-lg-8">
                                        <a ng-if="viewMode == false" href="" editable-number="prospect.leafNumber" e-min="0">{{ prospect.leafNumber || &apos;No hay datos&apos;  }}</a>
                                        <span ng-if="viewMode == true">{{prospect.leafNumber}}</span>
                                    </span>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group m-t-xs">
                                    <span class="col-lg-4 control-label"><b>{{prospect.prospectType == @((int)Tickets.Models.Enums.ProspectTypeEnum.Tickets) ? 'Fracción por hojas':'Cantidad'}}:</b></span><span class="col-lg-8">
                                        <a ng-if="viewMode == false" href="" editable-number="prospect.leafFraction" e-min="0">{{ prospect.leafFraction || &apos;No hay datos&apos;  }}</a>
                                        <span ng-if="viewMode == true">{{prospect.leafFraction}}</span>
                                    </span>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group m-t-xs">
                                    <span class="col-lg-4 control-label"><b>Fecha de Expiración:</b></span><span class="col-lg-8">
                                        <a ng-if="viewMode == false" href="" editable-date="prospect.expirateDate">{{ (prospect.expirateDate | date:"dd/MM/yyyy") || 'No hay datos' }}</a>
                                        <span ng-if="viewMode == true">{{(prospect.expirateDate | date:"dd/MM/yyyy")}}</span>
                                    </span>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group m-t-xs">
                                    <span class="col-lg-4 control-label"><b>Formato de Impresión:</b></span><span class="col-lg-8">
                                        <a ng-if="viewMode == false" href="" editable-select="prospect.impresionType" e-ng-options="s.id as s.nameDetail for s in prints">{{showPrintTechniquesDescription()}}</a>
                                        <span ng-if="viewMode == true">{{showPrintTechniquesDescription()}}</span>
                                    </span>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group m-t-xs">
                                    <span class="col-lg-4 control-label-left"><b>Estado:</b></span><span class="col-lg-8">
                                        <a ng-if="viewMode == false" href="" editable-select="prospect.statu" e-ng-options="s.id as s.nameDetail for s in status">{{showStatuDescription()}}</a>
                                        <span ng-if="viewMode == true">{{showStatuDescription()}}</span>
                                    </span>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <h4>Precios</h4>
                    <hr />
                    <div class="col-lg-12 m-b-xs no-padder">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Tipo de precio</th>
                                    <th>Precio Billete</th>
                                    <th>Precio Serie</th>
                                    <th>Precio Fracción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="price in prospect.prospectPrices">
                                    <td>{{price.priceDesc}}</td>
                                    <td>{{parseMoney(price.ticketPrice)}}</td>
                                    <td>{{parseMoney(price.seriePrice)}}</td>
                                    <td>{{parseMoney(price.factionPrice)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h4>Premios</h4>
                    <hr />
                    <div class="col-lg-12 m-b-xs no-padder">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Tipo de Premio</th>
                                    <th>Premio Origen</th>
                                    <th>Orden</th>
                                    <th>Cantidad</th>
                                    <th>Terminal</th>
                                    <th>Por Fracción</th>
                                    <th class="text-center">Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="current in prospect.awards">
                                    <td>{{current.name}}</td>
                                    <td>{{current.typesAwardDesc}}</td>
                                    <td>{{current.sourceAwardDescription}}</td>
                                    <td>{{current.orderAward}}</td>
                                    <td>{{parseNumber(current.quantity)}}</td>
                                    <td>{{current.terminal}}</td>
                                    <td>{{current.byFractionDescription}}</td>
                                    <td class="text-right">{{parseMoney(current.value)}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="text-right"></td>
                                    <td class="text-right"></td>
                                    <td class="text-right"></td>
                                    <td class="text-right"></td>
                                    <td class="text-right"></td>
                                    <td class="text-right"></td>
                                    <td class="text-right">Total...:</td>
                                    <td class="text-right"><b>{{parseMoney(showTotal())}}</b></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="col-lg-12 no-padder">
                        <div class="col-lg-6 no-padder">
                            <a href="#/prospect/prospects" class="mr btn btn-square btn-warning"><i class="fa fa-times"></i>{{viewMode === true? 'Salir': 'Cancelar'}}</a>
                        </div>
                        <div class="col-lg-6 no-padder text-right" ng-if="viewMode == false">
                            <a ng-click="goToBackStep()" class="btn btn-default" ng-show="viewMode !== true">Regresar <i class="fa fa-arrow-left"></i></a>
                            <a ng-click="saveProspect()" class="btn btn-primary" ng-show="viewMode !== true">Finalizar <i class="fa fa-floppy-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>