@{
    Layout = null;
    ViewBag.Title = "Listado de Prospectos Caducado";
}
<div class="col-lg-12 no-padder" ng-controller="ProspectSuspendController" ng-init="app.title = '@(ViewBag.Title)'">
    <div class="col-lg-12 no-padder">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row-border hover">
                    <table class="table dataTableGrid">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th class="hidden-xs">Precio</th>
                                <th class="hidden-xs">Producción</th>
                                <th class="hidden-xs hidden-sm hidden-md">Impresion</th>
                                <th>Estado</th>
                                <th class="editColumm">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="prospect in prospects">
                                <td>{{prospect.name}}</td>
                                <td class="hidden-xs">{{parseMoney(prospect.price)}}</td>
                                <td class="hidden-xs">{{parseMoney(prospect.production).substring(3, parseMoney(prospect.production).length - 3)}}</td>
                                <td class="hidden-xs hidden-sm hidden-md">{{prospect.impresionTypeDesc}}</td>
                                <td>{{prospect.statuDesc}}</td>
                                <td>
                                    <a href="/#/prospect/viewer/{{prospect.id}}" title="Visualizar" class="{{moduleCanEdit}}"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 no-padder text-left m-b-lg"> 
    <a ui-sref="app.dashboard" class="mr btn btn-square btn-default"><i class="fa fa-arrow-left "></i> Salir</a>
</div>
