@{
    Layout = null;
    ViewBag.Title = "Listado de lotes de números identificados";
}

<div class="col-lg-12 no-padder" ng-controller="IdentifyAwardListController" ng-init="app.title = '@(ViewBag.Title)'">
    <div class="col-lg-12 no-padder">
        <div class="panel panel-default">

            <div class="panel-body">
                <div id="sorteo_lotes" class="col-lg-8">

                    <div class="col-lg-4 text-left m-b-xs no-padder">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Busqueda por Lotes: </label>
                                <div class="col-lg-12">
                                    <select ng-required="true" class="form-control dropdown-select2" ng-model="batchId" ng-change="updateDelivered1()">
                                        <option selected="selected" value="0">Seleccione un lote</option>
                                        <option ng-repeat="Id in batchNumbers" value="{{Id}}">Lote de no.{{Id}}</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div id="sorteo_filters" class="col-lg-8">

                    <div class="col-lg-6 text-left m-b-xs no-padder">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Sorteo: </label>
                                <div class="col-lg-12">
                                    <select ng-required="true" class="form-control dropdown-select2" ng-model="RaffleId" ng-change="updateDelivered()">
                                        <option selected="selected" value="0">Seleccione un sorteo</option>
                                        <option ng-repeat="raffle in raffles" value="{{raffle.Id}}">{{raffle.Id}} - {{raffle.Name}}</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-6 text-left m-b-xs no-padder">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Cliente: </label>
                                <div class="col-lg-12">
                                    <select ng-required="true" class="form-control dropdown-select2" ng-model="ClientId" ng-change="updateDelivered()">
                                        <option selected="selected" value="0">Seleccione un cliente</option>
                                        <option ng-repeat="client in clients" value="{{client.Id}}">{{client.Id}} - {{client.Name}}</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col-lg-4 text-right m-b-xs no-padder">

                    <button id="SByBatch" class="btn btn-square btn-warning">Buscar por lotes</button>
                    <a href="/#/ticket/identifybach/0" class="btn btn-square btn-success {{moduleCanAdd}}"><i class="fa fa-plus-square"></i> Crear lote</a>

                </div>
                <div class="row-border hover">
                    <table class="table dataTableGrid">
                        <thead>
                            <tr>
                                <th>Lote</th>
                                <th>Sorteo</th>
                                <th>Cliente</th>
                                <th>Ganador</th>
                                <th class="editColumm">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="identifyBach in identifyBachs">
                                <td>#{{identifyBach.Id}}</td>
                                <td>{{identifyBach.RaffleId}} - {{identifyBach.RaffleDesc}}</td>
                                <td>{{identifyBach.ClientId}} - {{identifyBach.ClientDesc}}</td>
                                <td>{{identifyBach.WinnerName}}</td>
                                <td>
                                    @*<a ng-if="identifyBach.hasPayment == false" href="/#/ticket/identifybach/{{identifyBach.Id}}" title="Modificar lote de identificación" class="{{moduleCanView}}"><i class="fa fa-pencil"></i></a>*@
                                    <a ng-if="identifyBach.hasPayment == false && identifyBach.Statu == 2077" href="/#/ticket/identifybach/{{identifyBach.Id}}" title="Modificar lote de identificación" class="{{moduleCanView}}"><i class="fa fa-pencil"></i></a>
                                    <a href="/#/ticket/identifybachdetail/{{identifyBach.Id}}" title="Ver detalles del lote" class="{{moduleCanView}}"><i class="fa fa-eye"></i></a>
                                    <a ng-if="identifyBach.hasPayment == false && identifyBach.Statu == 2077" ng-click="deleteIdentifyBach(identifyBach)" title="Borrar Identificacion de Numeros"><i class="fa fa-times"></i></a>
                                    @*<a ng-if="identifyBach.hasPayment == false" ng-click="deleteIdentifyBach(identifyBach)" title="Borrar Identificacion de Numeros"><i class="fa fa-times"></i></a>*@
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 no-padder text-left m-b-lg">
    <a ui-sref="app.dashboard" class="mr btn btn-square btn-default"><i class="fa fa-arrow-left "></i> Salir</a>
</div>
