@{
    Layout = null;
    ViewBag.Title = "Listado de billetes devueltos";
}

<div class="col-lg-12 no-padder" ng-controller="ReturnedListController"  ng-init="app.title = '@(ViewBag.Title)'">
    <div class="modal fade" id="showMoveGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-vertical-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><b>Mover Grupo</b></h4>
                </div>
                <div class="modal-body col-lg-12 well no-padder">
                    <p class="modal-title col-lg-7" id="myModalLabel">Cliente: <b>{{currentReturned.clientDesc}}</b></p>
                    <p class="modal-title col-lg-5" id="myModalLabel">Sorteo: <b>{{currentReturned.raffleDesc}}</b></p>
                    <p class="modal-title col-lg-7" id="myModalLabel">Grupo actual: <b>{{currentReturned.returnedGroup}}</b></p>
                    <p class="modal-title col-lg-5" id="myModalLabel">Cant. de Fracción: <b>{{currentReturned.fractionQuantity}}</b></p>
                </div>
                <div class="modal-body col-lg-12 no-padder">
                    <div class="row">
                        <div class="col-lg-6">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-lg-12 control-label-left">Nuevo Grupo: </label>
                                    <div class="col-lg-12">
                                        <select ng-required="true" class="form-control" style="width:100%;" ng-model="Group">
                                            <option ng-repeat="group in groups" value="{{group.value}}" ng-disabled="group.value== currentReturned.returnedGroup">{{group.text}}</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-lg-12 control-label-left">Nuevo Cliente: </label>
                                    <div class="col-lg-12">
                                        <select ng-required="true" class="form-control" style="width:100%;" ng-model="ClientId">
                                            <option ng-repeat="client in clientList" value="{{client.value}}" ng-selected="client.value== currentReturned.clientId">{{client.text}}</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <a ng-click="saveNewGroup()" class="mb-sm btn btn-success pull-right"><i class="fa fa-floppy-o"></i> Guardar</a>
                    <a ng-click="" data-dismiss="modal" class="mb-sm btn btn-warning pull-left">Cancelar <i class="fa fa-times"></i></a>
                </div>
            </div>
        </div>
    </div>
       
    <div class="col-lg-12 no-padder">
        <div class="panel panel-default">
            <div class="panel-body"> 
                <div class="col-lg-4 text-left m-b-xs no-padder"> 
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Sorteo:  <span class="color-red">*</span></label>
                            <div class="col-lg-12">
                                <select ng-required="true" class="form-control dropdown-select2" ng-model="raffleId" ng-change="updateReturned()">
                                    <option selected="selected" disabled="disabled" value="0">Seleccione un sorteo</option>
                                    <option ng-repeat="raffle in raffles" value="{{raffle.value}}">{{raffle.text}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-lg-4 text-left m-b-xs no-padder"> 
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Cliente: </label>
                            <div class="col-lg-12">
                                <select class="form-control dropdown-select2" ng-model="groupClientId" ng-change="updateReturned()">
                                    <option selected="selected" value="0">Seleccione un cliente</option>
                                    <option ng-repeat="client in clients" value="{{client.value}}">{{client.value}} - {{client.text}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-lg-4 text-right m-b-xs no-padder"> 
                    <a href="#/ticket/returned" class="btn btn-square btn-success {{moduleCanAdd}}"><i class="fa fa-plus-square"></i> Devolución de Billetes</a>
                </div>
                <div class="row-border hover ">
                    <table class="table dataTableGrid">
                        <thead>
                            <tr>
                                <th>Sorteo</th>
                                <th>Cliente</th>
                                <th>Grupo</th>
                                <th>Cantidad de Fracción</th>
                                <th>Fecha</th>
                                <th class="editColumm text-center">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="returned in returneds">
                                <td>{{returned.raffleDesc}}</td>
                                <td>{{returned.clientDesc}}</td>
                                <td>{{returned.returnedGroup}}</td>
                                <td>{{returned.fractionQuantity | number}}</td>
                                <td>{{(returned.returnedDate | date:"dd/MM/yyyy") }}</td>
                                <td class="text-center">
                                    <a class="{{modulecanview}}" target="_blank" href="#/ticket/returnedGroupDetails/{{returned.returnedGroup}}/{{returned.raffleId}}" title="ver detalles del grupo"><i class="fa fa-eye"></i></a>
                                    <a class="{{moduleCanEdit}}" ng-if="returned.statusId != @((int)Tickets.Models.Enums.TicketReturnedStatuEnum.Invoiced)" ng-click="showMoveGroupModal(returned)" title="Mover Grupo"><i class="fa fa-external-link"></i></a>
                                    <a ng-if="returned.statusId != @((int)Tickets.Models.Enums.TicketReturnedStatuEnum.Invoiced)" ng-click="deleteReturnedGroup(returned)" title="Borrar Grupo de devoluciones" class="{{moduleCanDelete}}"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 no-padder text-left m-b-lg"> 
    <a ui-sref="app.dashboard" class="mr btn btn-square btn-default"><i class="fa fa-arrow-left "></i> Salir</a>
</div>
