@{
    Layout = null;
    ViewBag.Title = "Consulta de devoluciones";
}
<div class="col-lg-12 no-padder" ng-controller="ReturnedListQueryController" ng-init="app.title = '@(ViewBag.Title)'">
    <div class="col-lg-12 no-padder">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-6 text-left m-b-xs no-padder">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Sorteo:  <span class="color-red">*</span></label>
                            <div class="col-lg-12">
                                <select ng-required="true" class="form-control dropdown-select2" ng-model="raffleId" ng-change="updateReturned()">
                                    <option selected="selected" disabled="disabled" value="0">Seleccione un sorteo</option>
                                    <option ng-repeat="raffle in raffles" value="{{raffle.value}}">{{raffle.text}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-lg-6 text-left m-b-xs no-padder">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Cliente: </label>
                            <div class="col-lg-12">
                                <select class="form-control dropdown-select2" ng-model="clientId" ng-change="updateReturned()">
                                    <option selected="selected" value="0">Seleccione un cliente</option>
                                    <option ng-repeat="client in clients" value="{{client.value}}">{{client.value}} - {{client.text}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="row-border hover ">
                    <table class="table dataTableGrid">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 250px;">Sorteo</th>
                                <th class="text-center" style="width: 250px;">Cliente</th>
                                <th class="text-center" style="width: 250px;">Grupo</th>
                                <th>Fracciones</th>
                                <th>Registros</th>
                                <th>Fecha</th>
                                <th>Estado</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="returned in returneds">
                                <td>{{returned.raffleDesc}}</td>
                                <td>{{returned.clientDesc}}</td>
                                <td style="text-align:justify">
                                    <a class="group" ng-repeat="group in returned.Group" target="_blank" href="#/ticket/returnedGroupDetails/{{group}}/{{returned.raffleId}}"> {{group}} </a>
                                </td>
                                <td>{{returned.fractionQuantity}}</td>
                                <td>{{returned.numberCount}}</td>
                                <td>{{(returned.returnedDate | date:"dd/MM/yyyy") }}</td>
                                <td>{{returned.statusId == @((int)Tickets.Models.Enums.TicketReturnedStatuEnum.Created)? 'Sin validar' : 'Validada'}}</td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 no-padder text-left m-b-lg"> 
    <a ui-sref="app.dashboard" class="mr btn btn-square btn-default"><i class="fa fa-arrow-left "></i> Salir</a>
</div>
