@{
    Layout = null;
    ViewBag.Title = "Pago por otros ingresos";
}

<!-- START panel-->
<div class="col-lg-12 no-padder" ng-controller="OtherIncomesPaymentCreateController" ng-init="app.title = '@(ViewBag.Title)'">
    <div class="col-lg-12 no-padder">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-12 m-b-xs no-padder">
                    <input type="hidden" ng-model="otherIncomePayment.Id" />
                    <input type="hidden" ng-model="otherIncomePayment.OtherIncomesGroupId" />
                    <div class="col-lg-12 no-padder">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Tipo de cuenta: <span class="color-red">*</span></label>
                                <div class="col-lg-12">
                                    <select ng-required="true" class="form-control input-sm dropdown-select2" ng-model="otherIncomePayment.OtherIncomeId">
                                        <option selected="selected" disabled="disabled" value="0">Seleccione una opción</option>
                                        <option ng-repeat="otherIncome in otherIncomeList" value="{{otherIncome.Id}}">{{otherIncome.NoCatalogAccount}} - {{otherIncome.AccountName}}</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-12 no-padder">
                        <div class="col-lg-3 no-padder">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-lg-12 control-label-left">Fecha de pago:  <span class="color-red">*</span></label>
                                    <div class="col-lg-12">
                                        <input type="date" ng-model="otherIncomePayment.PaymentDate" class="form-control input-sm" ng-required="true" maxlength="100" />
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-3 no-padder">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-lg-12 control-label-left">Total pagado:  <span class="color-red">*</span></label>
                                    <div class="col-lg-12">
                                        <input type="number" ng-model="otherIncomePayment.TotalPayment" class="form-control input-sm" ng-required="true" maxlength="100" />
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-6 no-padder">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-lg-12 control-label-left">Cuenta de banco: <span class="color-red">*</span></label>
                                    <div class="col-lg-12">
                                        <select ng-required="true" class="form-control input-sm dropdown-select2" ng-model="otherIncomePayment.BankAccountCatalogId">
                                            <option selected="selected" disabled="disabled" value="0">Seleccione una opción</option>
                                            <option ng-repeat="bankAccount in bankAccountList" value="{{bankAccount.Id}}">{{bankAccount.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-lg-12 no-padder">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12 control-label-left">Descripción del pago: <span class="color-red">*</span></label>
                                <div class="col-lg-12">
                                    <textarea class="form-control input-sm" style="height: 100px;" ng-required="true" ng-model="otherIncomePayment.OtherIncomeDetailDescription"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 no-padder text-left m-b-lg">
        <a ui-sref="app.otherincomesPaymentsList" class="mr btn btn-square btn-warning"><i class="fa fa-times"></i> Cancelar</a>
        <a ng-click="saveOtherIncomePaymentForm()" class="mr btn btn-square btn-primary {{otherIncomePayement.Id > 0? moduleCanEdit: moduleCanAdd }}"><i class="fa fa-floppy-o"></i> Guardar</a>
    </div>
</div>
