@{
    Layout = null;
    ViewBag.Title = "Listado de pagos por otros ingresos";
}

<div class="col-lg-12 no-padder" ng-controller="OtherIncomesPaymentListController" ng-init="app.title = '@(ViewBag.Title)'">
    <div class="col-lg-12 no-padder">
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- START panel-->
                <div class="col-lg-12 text-right m-b-xs no-padder">
                    <a href="#/others/otherIncomeGroup/0" class="btn btn-square btn-success {{moduleCanAdd}}"><i class="fa fa-plus-square"></i> Agregar grupo de pago</a>
                </div>
                <div class="col-lg-12 text-left m-b-xs no-padder">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Grupo de otros ingresos:  <span class="color-red">*</span></label>
                            <div class="col-lg-12">
                                <select ng-required="true" class="form-control dropdown-select2" ng-model="otherIncomeGroupId" ng-change="changeValues()">
                                    <option selected="selected" disabled="disabled" value="0">Todos los grupos</option>
                                    <option ng-repeat="otherIncomeGroup in otherIncomesGroupList" value="{{otherIncomeGroup.Id}}">{{otherIncomeGroup.Text}} - {{otherIncomeGroup.Description}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="row-border hover">
                    <table class="table dataTableGrid">
                        <thead>
                            <tr>
                                <th>Cuentas</th>
                                <th>Descripción</th>
                                <th>Fecha de creación</th>
                                <th>Total</th>
                                <th class="editColumm">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="otherIncomesPayment in otherIncomesPayments">
                                <td>{{otherIncomesPayment.Accounts}}</td>
                                <td>{{otherIncomesPayment.Description}}</td>
                                <td>{{(otherIncomesPayment.CreateDate| date:"dd/MM/yyyy")}}</td>
                                <td>{{parseMoney(otherIncomesPayment.Total)}}</td>
                                <td>
                                    <a href="#/others/otherIncomeGroup/{{otherIncomesPayment.Id}}" title="Modificar grupo" class="{{moduleCanEdit}}"><i class="fa fa-pencil-square-o"></i></a>
                                    <a ng-show="verifyCanView('app.otherIncomePaymentByGroup')" href="#/others/otherIncomePaymentByGroup/{{otherIncomesPayment.Id}}" title="Lista de pagos" class="{{moduleCanView}}"><i class="fa fa-file-text-o"></i></a>
                                    <a target="_blank" href="/Reports/OtherPaymentGroup?groupId={{otherIncomesPayment.Id}}" title="Reporte de pago"><i class="fa fa-print"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 no-padder text-left m-b-lg">
    <a ui-sref="app.dashboard" class="mr btn btn-square btn-default"><i class="fa fa-arrow-left "></i> Salir</a>
</div>
