@{
    Layout = null;
    ViewBag.Title = "Listado de ventas electrónicas";
}

<div class="col-lg-12 no-padder" ng-controller="ElectronicSalesListController" ng-init="app.title = '@(ViewBag.Title)'">
    <div class="col-lg-12 no-padder">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-12 text-left m-b-xs no-padder">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Sorteo:  <span class="color-red">*</span></label>
                            <div class="col-lg-12">
                                <select ng-required="true" class="form-control dropdown-select2" ng-model="raffleId" ng-change="updateReturned()">
                                    <option selected="selected" disabled="disabled" value="0">Seleccione un sorteo</option>
                                    <option ng-repeat="raffle in raffles" value="{{raffle.value}}">{{raffle.value}} - {{raffle.text}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="row-border hover ">
                    <table class="table dataTableGrid">
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Asignación</th>
                                <th>Cantidad vendida</th>
                                <th>Cantidad asignada</th>
                                <th>Cantidad restante</th>
                                <th class="editColumm text-center">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="returned in returneds">
                                <td>{{returned.clientDesc}}</td>
                                <td>{{returned.allocationId}}</td>
                                <td>{{returned.fractionQuantity}}</td>
                                <td>{{returned.allocationFractionQuantity}}</td>
                                <td>{{returned.totalRest}}</td>
                                <td class="text-center">
                                    @*<a target="_blank" href="/Reports/ElectronicSaleDetails?allocationId={{allocation.id}}" title="Detalle de venta electrónica"><i class="fa fa-print"></i></a>*@
                                    @*<a class="{{modulecanview}}" href="#/ticket/electronicSalesGroupDetails/{{returned.allocationId}}" title="ver detalles del grupo"><i class="fa fa-eye"></i></a>*@
                                    <a ng-click="validateElectronicSale(returned)" ng-show="returned.anyReturn != @((int)Tickets.Models.Enums.AllocationStatuEnum.ReturnsProcessed) && returned.anyReturn != @((int)Tickets.Models.Enums.AllocationStatuEnum.Returned)" title="Validar venta" class="{{moduleCanEdit}}"><i class="fa fa-external-link"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 no-padder text-left m-b-lg">
    <a ui-sref="app.dashboard" class="mr btn btn-square btn-default"><i class="fa fa-arrow-left "></i> Salir</a>
</div>
