@{
    Layout = null;
    ViewBag.Title = "Ventas por día";
}

<div class="col-lg-12 no-padder" ng-controller="ElectronicSalesDetailsController" ng-init="app.title = '@(ViewBag.Title)'">
    <div class="col-lg-12 no-padder">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="col-lg-12 well no-padder">
                    <fieldset>
                        <div class="col-lg-12 no-padder">
                            <div class="col-lg-4">Número de asignación: <b>{{sequenceNumberTicketAllocation}}</b></div>
                            <div class="col-lg-4">Fecha de creación: <b>{{allocateDate}}</b></div>
                            <div class="col-lg-4">Cliente: <b>{{clientId}} - {{clientName}}</b></div>
                        </div>
                    </fieldset>
                    <br />
                    <fieldset>
                        <div class="col-lg-12 no-padder">
                            <div class="col-lg-8">Sorteo: <b>{{raffleName}}</b></div>
                            <div class="col-lg-4">Descuento: <b>{{clientDiscount}}%</b></div>
                        </div>
                    </fieldset>
                    <br />
                    <fieldset>
                        <div class="col-lg-12 no-padder">
                            <div class="col-lg-12">Tipo de cliente: <b>{{clientType}}</b></div>
                        </div>
                    </fieldset>
                    <br />
                </div>

                <div class="row-border hover">
                    <table class="table dataTableGrid">
                        <thead>
                            <tr>
                                <th class="text-center">Fecha</th>
                                <th class="text-center">Billetes - Fracciones <br /> Asignados</th>
                                <th class="text-center">Billetes - Fracciones <br /> Vendidos</th>
                                <th class="text-center">Billetes - Fracciones <br /> Anulados</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="item in electronicSalesByDate">
                                <td class="text-center">{{item.date}}</td>
                                <td class="text-center">{{item.ticketsQuantity | number}} - {{item.fractionQuantity | number}}</td>
                                <td class="text-center">{{item.allocationTicketsQuantity | number}} - {{item.allocationFractionQuantity | number}}</td>
                                <td class="text-center">{{item.totalRestTickets | number}} - {{item.totalRest | number}}</td>
                                <td class="text-center">
                                    <a ng-click="printReport(allocationId, item.date)" title="Reporte de pago"><i class="fa fa-print"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 no-padder text-left m-b-lg">
    <a ui-sref="app.electronicSales" class="mr btn btn-square btn-default"><i class="fa fa-arrow-left "></i> Salir</a>
</div>
