@model Tickets.Models.Raffle
@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "Sorteo Virtual";
    var context = new Tickets.Models.TicketsEntities();
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-DO");
}

<style>

    /*PREMIOS INTERMEDIOS*/
    .inter-award {
        padding-left: 10px;
    }

        .inter-award .title {
            font-size: 15pt;
            line-height: 22px;
        }

        .inter-award .cash .title {
            font-size: 7pt;
            line-height: 10px;
            border-radius: 0px;
        }

    ul {
        list-style-type: none;
    }

    .inter-award .cash ul {
        height: auto;
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
        padding: 5px;
        margin: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        -webkit-column-gap: 5px; /* Chrome, Safari, Opera */
        -moz-column-gap: 5px; /* Firefox */
        column-gap: 5px;
    }

        .inter-award .cash ul li {
            padding: 0;
            margin: 0;
            line-height: normal;
            font-size: 15pt;
            font-weight: bold;
        }
    /*PREMIOS INTERMEDIOS*/



    .col-lg-20 {
        width: 19.60%;
        float: left;
    }

    .col-lg-22 {
        width: 21%;
        float: left;
    }

    .col-lg-78 {
        width: 78%;
        float: left;
    }

    .col-lg-12 {
        width: 100%;
        float: left;
    }

    .col-lg-3 {
        width: 24.6%;
        float: left;
    }

    .col-lg-6 {
        width: 50%;
        float: left;
    }

    .special-bold {
        font-weight: bold;
    }
</style>


<div class="col-lg-12" style="width: 1400px;">

    <div class="col-lg-12 no-padder inter-award">
        @{
            var interMin = context.TypesAwards.FirstOrDefault(t => t.Id == 4);
            int numberLengh = (Model.Prospect.Production - 1).ToString().Length;
        }
        <div class="col-lg-12 no-padder special-bold " style="text-align:center">
            MINISTERIO DE HACIENDA<br />
            ADMINSTRACION DE LA LOTERIA NACIONAL<br />
            LISTA DE PREMIOS INTERMEDIOS DEL SORTEO @Model.Id EN FECHA @Model.DateSolteo.ToLongDateString()<br />
            ORDENADOS EN ORDEN ASCENDENTE<br />
        </div>
        @foreach (var award in Model.RaffleAwards.OrderBy(r => r.Award.OrderAward).Where(a => a.Award.TypesAwardId == interMin.Id).OrderBy(r => r.ControlNumber)
            .GroupBy(r => r.AwardId).Select(r => new { awardName = r.FirstOrDefault().Award.Description, numbers = r, value = r.FirstOrDefault().Award.Value })
            .OrderByDescending(r => r.value))
        {
            <div class="col-lg-12">
                <div class="col-lg-4 no-padder cash m-t-2-px" style="width: 550px !important;">
                    <div class="col-lg-12 no-padder title color" style="margin-bottom:20px; margin-top:20px;font-size: 12pt;">
                        CON VALOR DE @award.awardName CADA UNO
                    </div>
                    <div class="col-lg-12 no-padder">
                        <ul>
                            @foreach (var number in award.numbers)
                            {
                                <li>@Tickets.Models.Utils.AddZeroToNumber(numberLengh, (int)number.ControlNumber)</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
