@{
    Layout = null;
    ViewBag.Title = "Reportes de facturaciones por sorteos";
}

<div class="col-lg-12 no-padder" ng-controller="RaffleGeneratedController" ng-init="app.title = '@(ViewBag.Title)'">
    <input type="hidden" class="hide" value="0" id="noStatusRaffle" />
    <div class="col-lg-12 no-padder">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-6 text-left m-b-xs no-padder">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-12 control-label-left">Tipo de comprobante fiscal:</label>
                            <div class="col-lg-12">
                                <select class="form-control dropdown-select2" ng-model="taxReceiptType">
                                    <option selected="selected" value="0">SIN COMPROBANTE</option>
                                    <option ng-repeat="taxreceipt in taxreceipts" value="{{taxreceipt.Id}}">{{taxreceipt.NameDetail}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="row-border hover ">
                    <table class="table dataTableGrid">
                        <thead>
                            <tr>
                                <th style="width:70px" class="text-center">ID</th>
                                <th>Nombre de Sorteo</th>
                                <th class="text-center">Facturaciones Por Numero</th>
                                <th class="text-center">Facturaciones Por Asignaciones</th>
                                <th class="text-center">Detalle de facturas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="raffle in raffles">
                                <td class="text-center">{{raffle.id}}</td>
                                <td>{{raffle.name}}</td>
                                <td class="text-center">
                                    <a target="_blank" href="/Reports/InvoicesByRaffle?raffleId={{raffle.id}}" title="Imprimir Facturación"><i class="fa fa-print"></i></a>
                                </td>
                                <td class="text-center">
                                    <a target="_blank" href="/Reports/InvoicesByRaffleAllocation?raffleId={{raffle.id}}" title="Imprimir Detalle de Facturación"><i class="fa fa-print"></i></a>
                                </td>
                                <td class="text-center">
                                    <a target="_blank" href="/Reports/InvoicesDetail?raffleId={{raffle.id}}&taxtReceipt={{taxReceiptType}}" title="Imprimir detalles facturas"><i class="fa fa-print"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 no-padder text-left m-b-lg"> 
    <a ui-sref="app.dashboard" class="mr btn btn-square btn-default"><i class="fa fa-arrow-left "></i> Salir</a>
</div>
